body{
  background-color: rgb(159, 159, 190);
}
.App{
  justify-content: center;
  display: flex;
  text-align: center;
  width: 100%;

}

h1{
  text-align: center;
}

h2{
  text-align: center;
  justify-content: center;
}

.form{
  justify-content: center;
  text-align: center;
}

.input-field{
 text-align: center;
 justify-content: center;
 display: flex;


}
input{
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.5rem 1rem;
}

.add-btn{
  color: blueviolet;
  background-color: blanchedalmond;
  border:2px solid white;
  border-radius: 8px;

}
.heading{
  text-align: center;
}
.todolist{
  justify-content:space-between;
  text-align: center;
  margin-top: 12px;
  width: 500px;
  margin-left: 500px;
  
  

  
}
.todos{
  box-sizing: border-box;
  border-radius: 8px;
}

.delete-btn{
  margin-left: 90px;
  
}
